#
# local config stuff
#
venv
__pycache__
.pytest_cache
.vscode
.coverage
#
# dist and builds
#
dist
build
mangodl.egg-info
#
# personal files
#
experimental
dealwiththis
login_cookies
mangodl_config.ini